<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>К сожалению, у меня не получилось разобратся в чем тут проблема.</h1>
        <h2>Скорее всего в БД запросах, потому что обычные страницы на подобии вот этой отлично прогружает. Поднять сервер и загрузить на него проект у меня получилось, а вот отобразить страницу, увы, не смог. </h2>
    </hgroup>
    <div>
        @Html.ActionLink("List Companies", "Index")
    </div>
</body>
</html>
