<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ec2-13-59-10-236.us-east-2.compute.amazonaws.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-13-59-10-236.us-east-2.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBCompanyEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49" Name="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBCompany.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCompanyEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DBCompany.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCompanyEntities2" Order="3" Enabled="False">
          <Destination Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49" Name="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBCompany.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCompanyEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DBCompany.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCompanyEntities3" Order="4" Enabled="False">
          <Destination Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49" Name="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBCompany.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCompanyEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DBCompany.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBCompanyEntities" Order="5" Enabled="False">
          <Destination Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49" Name="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBCompany.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCompanyEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DBCompany.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CmpanyDBEntities1" Order="6" Enabled="False">
          <Destination Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49" Name="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Company.Models.CmpanyDBEntities1, Company" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CmpanyDBEntities" Order="7" Enabled="False">
          <Destination Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49" Name="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CmpanyDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBCompanyEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;multipleactiveresultsets=true;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;multipleactiveresultsets=true;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CmpanyDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;multipleactiveresultsets=true;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CmpanyDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49;MultipleActiveResultSets=true"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CmpanyDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CmpanyDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CmpanyDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CmpanyDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CompanyModel.csdl|res://*/Models.CompanyModel.ssdl|res://*/Models.CompanyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kostya.database.windows.net;Initial Catalog=CmpanyDB;Persist Security Info=True;User ID=Kostya;Password=Kubovych49"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=kostya.database.windows.net</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=kostya.database.windows.net</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string=kostya.database.windows.net</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBCompanyEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelCompany.csdl|res://*/Models.ModelCompany.ssdl|res://*/Models.ModelCompany.msl;provider=System.Data.SqlClient;provider connection string="data source=kostya.database.windows.net;initial catalog=CmpanyDB;persist security info=True;user id=Kostya;password=Kubovych49;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>